
body {
background-image: url(image/background74.jpg);
background-size: 100%;
font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.contacts {
    border: 2px solid;
    font-size: 17px;
    text-align: center;
    line-height: 160%;
    float: right;
    padding: 30px;
}

.img-contact {

    width: 25px;
    height: 25px;
    vertical-align: bottom;
}

.intro {
    margin-top: 18%;
}

footer {
    margin-top: 15%;
    background-color: rgba(14, 78, 216, 0.39);
    padding-top: 7%;
    padding-bottom: 15px;
}